{{ if stat (joinPath .chezmoi.homeDir ".config/omarchy") }}
{{- template "dot_bashrc/omarchy" . -}}
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
{{- template "dot_bashrc/macos" . -}}
{{ end }}

{{- template "dot_xshrc" . -}}

[ -f ~/.fzf.bash ] && source ~/.fzf.bash
