{{ if stat (joinPath .chezmoi.homeDir ".config/omarchy") }}
{{- template "dot_zshrc/omarchy" . -}}
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
{{- template "dot_zshrc/macos" . -}}
{{ end }}

{{- template "dot_xshrc" . -}}

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
