# Dynamic theme colors
config-file = ?"~/.config/omarchy/current/theme/ghostty.conf"

#
# Font
#
font-family = "SauceCodePro Nerd Font"
#font-family = "SauceCodePro Nerd Font, JetBrainsMono Nerd Font"
{{- if eq .chezmoi.hostname "tw-nixos" }}
font-size = 13
{{- else }}
font-size = 16
{{- end }}
background-opacity = 0.9

#
# Cursor styling
#
cursor-style = "block"
cursor-style-blink = false

#
# Cursor styling + SSH session terminfo
# (all shell integration options must be passed together)
#
shell-integration-features = no-cursor,ssh-env

#
# Slowdown mouse scrolling
#
mouse-scroll-multiplier = 0.95

#
# Window
#
window-theme = ghostty
window-padding-x = 14
window-padding-y = 14
confirm-close-surface=false
resize-overlay = never
gtk-toolbar-style = flat

#
# Tab Navigation
#
keybind = control+shift+l=next_tab
keybind = control+shift+h=previous_tab

#
# Tab management
#
# TODO: this is not supported
# keybind = control+shift+shift+r=rename_tab

#
# Shell launchers (new tab with different shells)
#
# keybind = control+shift+shift+z=new_tab:zsh,-l
# keybind = control+shift+shift+f=new_tab:fish,-l
# keybind = control+shift+shift+b=new_tab:bash,-l

#
# Direct tab access (1-9)
#
keybind = control+shift+1=goto_tab:1
keybind = control+shift+2=goto_tab:2
keybind = control+shift+3=goto_tab:3
keybind = control+shift+4=goto_tab:4
keybind = control+shift+5=goto_tab:5
keybind = control+shift+6=goto_tab:6
keybind = control+shift+7=goto_tab:7
keybind = control+shift+8=goto_tab:8
keybind = control+shift+9=goto_tab:9


#
# Keyboard bindings
#

keybind = shift+insert=paste_from_clipboard
keybind = control+insert=copy_to_clipboard

# Split Panel
#
keybind = control+shift+e=new_split:right
keybind = control+shift+o=new_split:down
keybind = control+shift+alt+h=goto_split:left
keybind = control+shift+alt+l=goto_split:right
keybind = control+shift+alt+j=goto_split:bottom
keybind = control+shift+alt+k=goto_split:top

# Resize Split Panels
#
keybind = alt+shift+j=resize_split:down,100
keybind = alt+shift+k=resize_split:up,100
keybind = alt+shift+h=resize_split:left,100
keybind = alt+shift+l=resize_split:right,100

# Beginning and End of line navigation
# TODO: this suggestion does not work
#
# keybind = home=send_text:\x01  # control+A (beginning of line)
# keybind = end=send_text:\x05   # control+E (end of line)
